<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Phone</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="phone">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Phone</label>
    <textarea name="message" id="message" cols="30" rows="10" class="form-control"></textarea>

  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>